---
layout: default
title: Meetings by Component
permalink: /meetings-components/
---

{% capture raw_components %}
  {%- for meeting in site.posts -%}
    {%- if meeting.layout == 'pr' -%}
      {%- if meeting.components == empty -%}
        {% include ERROR_92_MISSING_TOPIC_CATEGORY %}
      {%- endif -%}
      {%- for component in meeting.components -%}
        {{component}}|
      {%- endfor -%}
    {%- endif -%}
  {%- endfor -%}
{% endcapture %}

{% assign components = raw_components | split: "|" | sort_natural | uniq %}

<h1 class="h-display h-display--lg">MEETINGS</h1>
{% include redesign/meetings-nav.html %}

{% for component in components %}
  <div class="meetings-group" id="{{ component }}">
    <div class="meetings-group__label">{{ component }}</div>
    <div class="meeting-list">
      {% for post in site.posts %}
        {% if post.components contains component %}
          {% include redesign/meeting-row.html post=post %}
        {% endif %}
      {% endfor %}
    </div>
  </div>
{% endfor %}