---
layout: default
title: Meetings by Date
permalink: /meetings/
---

<h1 class="h-display h-display--lg">MEETINGS</h1>
{% include redesign/meetings-nav.html %}

{% for post in site.posts %}
  {% if post.layout != "pr" %}
    {% continue %}
  {% endif %}

  {% capture month_year %}{{ post.date | date: "%b %Y" | upcase }}{% endcapture %}

  {% if month_year != lastmy %}
    {% if lastmy != nil %}
      </div>
    </div>
    {% endif %}
    <div class="meetings-group" id="{{ post.date | date: '%b%Y' }}">
      <div class="meetings-group__label">{{ month_year }}</div>
      <div class="meeting-list">
  {% endif %}

  {% include redesign/meeting-row.html post=post %}
  {% assign lastmy = month_year %}
{% endfor %}
  </div>
</div>