---
layout: default
title: Meetings by PR Number
permalink: /meetings-prs/
---

{% assign posts_by_pr_number = site.posts | sort: 'pr' | reverse %}

<h1 class="h-display h-display--lg">MEETINGS</h1>
{% include redesign/meetings-nav.html %}

{% assign last_pr_group = nil %}
{% for post in posts_by_pr_number %}
  {% if post.pr %}
    {% capture this_pr_group %}{{ post.pr | divided_by: 1000 }}{% endcapture %}
    {% if this_pr_group != last_pr_group %}
      {% if last_pr_group != nil %}
        </div>
      </div>
      {% endif %}
      <div class="meetings-group" id="pr-{{ this_pr_group }}">
        <div class="meetings-group__label">PR #{{ this_pr_group }}000s</div>
        <div class="meeting-list">
    {% endif %}
    {% include redesign/meeting-row.html post=post %}
    {% assign last_pr_group = this_pr_group %}
  {% endif %}
{% endfor %}
  </div>
</div>