---
layout: default
title: Meetings by Host
permalink: /meetings-hosts/
---

{% capture raw_hosts %}
  {%- for meeting in site.posts -%}
    {%- if meeting.layout == 'pr' -%}
      {%- if meeting.host == empty -%}
        {% include ERROR_92_MISSING_TOPIC_CATEGORY %}
      {%- endif -%}
      {{meeting.host}}|
    {%- endif -%}
  {%- endfor -%}
{% endcapture %}

{% assign hosts = raw_hosts | split: "|" | sort_natural | uniq %}

<h1 class="h-display h-display--lg">MEETINGS</h1>
{% include redesign/meetings-nav.html %}

{% for host in hosts %}
  <div class="meetings-group" id="{{ host }}">
    <div class="meetings-group__label">
      {{ host }}
      <a href="https://github.com/{{ host }}" style="margin-left:8px;font-size:11px;color:#8E8EA0">github ↗</a>
    </div>
    <div class="meeting-list">
      {% for post in site.posts %}
        {% if post.host == host %}
          {% include redesign/meeting-row.html post=post %}
        {% endif %}
      {% endfor %}
    </div>
  </div>
{% endfor %}