---
layout: default
title: Meetings by Author
permalink: /meetings-authors/
---

{% capture raw_authors %}
  {%- for meeting in site.posts -%}
    {%- if meeting.layout == 'pr' -%}
      {%- if meeting.authors == empty -%}
        {% include ERROR_92_MISSING_TOPIC_CATEGORY %}
      {%- endif -%}
      {%- for author in meeting.authors -%}
        {{author}}|
      {%- endfor -%}
    {%- endif -%}
  {%- endfor -%}
{% endcapture %}

{% assign authors = raw_authors | split: "|" | sort_natural | uniq %}

<h1 class="h-display h-display--lg">MEETINGS</h1>
{% include redesign/meetings-nav.html %}

{% for author in authors %}
  <div class="meetings-group" id="{{ author }}">
    <div class="meetings-group__label">
      {{ author }}
      <a href="https://github.com/{{ author }}" style="margin-left:8px;font-size:11px;color:#8E8EA0">github ↗</a>
    </div>
    <div class="meeting-list">
      {% for post in site.posts %}
        {% if post.authors contains author %}
          {% include redesign/meeting-row.html post=post %}
        {% endif %}
      {% endfor %}
    </div>
  </div>
{% endfor %}